.post {
  display: grid;
  grid: repeat(auto-fill dense, minmax(50px, 1fr));
  margin: 1rem;
  
  background: #ede7f6;
  padding: 1.5rem;
  border-radius: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 50px;
}
