.postTitle{
  display: grid;
  grid: auto / 50px 1fr;
}

.postTitleImage {
  width: 40px;
  align-self: center;
  grid-column: 1;
}

.postTitleText {
  grid-column: 2;
  align-self: center;
  font-size: x-large;
  margin-left: 1rem;
}


